<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}AlaVentaColombia{% endblock %}</title>
        {% block stylesheetss %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
            <!-- Custom CSS -->
            <link href="/css/main.css" rel="stylesheet">
            <style type="text/css">
                <!--
                body{
                    background: url(/img/background.jpg);
                    background-repeat:no-repeat;
                    background-attachment:fixed;
                    background-position:center;
                    background-size: cover;
                }
                -->
            </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="/img/favicon.png" />
    </head>
    <body>

    {% if app.session.get('cart') is defined %}
        {% set cartNumber = app.session.get('cart')|length %}
    {% else %}
        {% set cartNumber = 0 %}
    {% endif %}
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <button type="button button-condensed" class="navbar-toggle" >
                        <a href="cart.php"><img class="icon" src="/img/cart.png"></a>
                    </button>
                    <a class="navbar-brand" href="/">Antorcha Ingeniería</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{{ path('terms_conditions') }}">Términos y condiciones</a>
                        </li>
                        <li>
                            <a href="{{ path('contact') }}">Contactanos</a>
                        </li>
                        <li>
                            <a href="{{ path('media') }}">Imágenes y videos</a>
                        </li>
                        <li>
                            <a href="{{ path("show_cart") }}"><img class="icon" src="/img/cart.png">({{ cartNumber }})</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>



        {% block body %}
            {% block fos_user_content %}
            {% endblock %}
        {% endblock %}
    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4  text-left">
                    <img src="http://i1054.photobucket.com/albums/s495/juliansmm/Ebike/pagos%20online_zpsfipbzxlw.png"  height="10%" width="100%">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 text-center">
                    <h3>Envios a todo el país</h3>
                    <p>Copyright &copy; Antorcha Ingeniería CIA Ltda. 2015</p>
                </div>
                <div class="col-sm-12 col-md-offset-3 col-md-6  col-lg-4 col-lg-offset-0 text-right">
                    <img src="http://i1054.photobucket.com/albums/s495/juliansmm/Ebike/tarjeta%20de%20credito_zpscbbo39oj.png"height="10%" width="100%">
                </div>

            </div>
        </footer>

    </div>
    <!-- /.container -->
        {% block javascripts %}
            <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
