{% extends "::base.html.twig" %}
{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">A la venta Colombia</p>
                <div class="list-group">
                    {% for category in categories %}
                        <a href="{{ path('homepage', {'cat':category.id}) }}" class="list-group-item ">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12 btn-group-justified">
                        <a class="btn btn-success" href="{{ path('checkout_cart') }}"> <h3>Pagar</h3></a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-lg-4 col-md-6">
                            <div class="thumbnail">
                                <a href="{{ path('view_product', {'id':product.id  } )}}">
                                    <img src="{{ product.headingMedia.url }}" alt="">
                                </a>
                                <div class="caption">
                                    <h4 class="pull-right"> ${{ product.price }}</h4>
                                    <h4><a href="{{ path('view_product', {'id':product.id  } )}}">{{ product.name }}</a> </h4>
                                    <p>{{ product.shortDesc }} </p>
                                </div>
                                <div class="text-right">
                                    <a href="{{ path('remove_cart',{'idProd':product.id }) }}" class="btn btn-danger ">
                                        remover
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12 btn-group-justified">
                        <a class="btn btn-success" href="{{ path('checkout_cart') }}"> <h3>Pagar</h3></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}