{% extends "::base.html.twig" %}
{% block fos_user_content %}
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <p class="lead">A la venta Colombia</p>
                <div class="list-group">
                    {% for category in categories %}
                        <a href="{{ path('homepage', {'cat':category.id}) }}" class="list-group-item {% if product.categoryCategory.id==category.id %}active{% endif %}">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </div>
            <div itemscope itemtype="http://schema.org/Product" class="col-md-9">
                <div class="thumbnail">
                    <div class="row carousel-holder">
                        <div class="col-md-12">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    {% set i=product.medias.count %}
                                    {% for j in 0..i %}
                                        <li data-target="#carousel-example-generic" data-slide-to="{{ j }}" {% if j==0 %}class="active">{% endif %}</li>
                                    {% endfor %}
                                </ol>
                                <div class="carousel-inner">
                                    {% set flag=0 %}
                                    {% for media in product.medias  %}
                                        <div class="item {% if flag==0 %}active{% endif %}">
                                            <img {% if flag==0 %}itemprop="image" {% set flag=1 %}{% endif %} class="slide-image" src="{{ media.url }}" alt="">
                                        </div>
                                    {% endfor %}

                                </div>
                                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="caption-full">
                          <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            <h4 class="pull-right"><div itemprop="price">${{ product.price }} </div></h4>
                            <meta itemprop="priceCurrency" content="COP" />
                          </span>
                        <h4><span itemprop="name"> {{ product.name }}</span></h4>
                        <p><div itemprop="description">{{ product.fullDescription }}</div><p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">0 reviews</p>
                        <div class="text-center">
                            <h4>
                                <a href="{{ path('add_product', {'idProd':product.id}) }}" class="btn btn-warning">Agregar al carrito</a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="well">
                    <div class="text-right">
                        <a class="btn btn-success">Comenta este producto</a>
                    </div>
                    <hr>
                    {% for review in product.reviews %}
                        <div class="row">
                            <div class="col-md-12">
                                <span class="pull-right">
                                    {% for i in 0..review.score-1 %}
                                        <span class="glyphicon glyphicon-star blue"></span>
                                    {% endfor %}
                                    {% if review.score!=5 %}
                                        {% for i in 0.. 4-review.score%}
                                            <span class="glyphicon glyphicon-star-empty"></span>
                                        {% endfor %}
                                    {% endif %}
                                </span>
                                <div class="text-primary text-uppercase">{{ review.name }}</div>
                                <p>{{ review.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
{% endblock fos_user_content %}